<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" th:src="@{js/adminhome.js}"></script>
</head>
<body>
    <h1>admin</h1>
	<h2 th:text="${name}">名前がここに表示されます</h2>
	<h2 th:text="${date}">日付がここに表示されます</h2>




        <br>
        <button type="submit">更新</button>
    </form>
</body>
</html>