<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script type="text/javascript" th:src="@{js/jquery-3.7.1.min.js}"></script>-->
<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script type="text/javascript" th:src="@{js/adminhome.js}"></script>
    <title>管理者画面</title>
    <style>
        /* ボタンを横並びにするためのスタイル */
        .button-container {
            display: inline-block;
            margin-right: 10px; /* ボタンの間にスペースを入れる */
        }
    </style>
</head>
<body>
    <h1>Admin</h1>
   
    <!-- 検索フォーム（名前検索と日時検索） -->
    <tr>
        <th><input type="text" placeholder="名前"></th>
        <th><input type="text" placeholder="日付"></th>
        <th><input type="button" value="実行"></th>
    </tr>
   


    <h1>勤務時間管理</h1>
	<table border="1" id="attendance-table">
	    <thead>
	        <tr>
	            <th>名前</th>
	            <th>出勤時間</th>
	            <th>退勤時間</th>
	            <th>勤務時間</th>
	            <th>勤務日数</th>
	        </tr>
	    </thead>
	    <tbody>
	        <!-- ここにデータを表示 -->
	    </tbody>
	</table>


<!--    <h2>出勤データ</h2>-->
<!--    <table border="1" id="arrivals-table">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>名前</th>-->
<!--                <th>出勤時間</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--             出勤データがここに表示される -->
<!--        </tbody>-->
<!--    </table>-->

<!--    <h2>退勤データ</h2>-->
<!--    <table border="1" id="departures-table">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>名前</th>-->
<!--                <th>退勤時間</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--             退勤データがここに表示される -->
<!--        </tbody>-->
<!--    </table>-->
<!--</body>-->
<!--</html>-->