<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>打刻画面</title>
<link rel="stylesheet" th:href="@{/css/punch.css}">
</head>

<body>
	<div class="container">
		<h1>打刻画面</h1>
		<div class="analog-clock">
			<div class="clock-face">
				<div class="hand hour" id="hour-hand"></div>
				<div class="hand minute" id="minute-hand"></div>
				<div class="hand second" id="second-hand"></div>
			</div>
		</div>

		<p>現在時刻</p>
		<div id="clock" class="timestamp"></div>

		<form th:action="@{/}" method="post">
			<label for="username">名前</label> <input id="username" type="text"
				name="userName" placeholder="名前を入力" th:value="${userName}">

			<input type="hidden" name="forceType" th:value="${forceType}"
				id="forceFlag">

			<button class="punch-in" type="submit" name="action" value="arrival">出勤</button>
			<button class="punch-out" type="submit" name="action"
				value="departure">退勤</button>
		</form>

		<div class="feedback" th:classappend="${error} ? ' active'" th:text="${error}"></div>

	</div>
<script th:src="@{/js/punch.js}"></script>
</body>
</html>